@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

    body {
      font-family: "Urbanist", serif;
      background: #ffffff;
      margin: 0;
      padding: 0;
    }

    .header {
      text-align: center;
      margin: 7vh 0;
    }
    .header h1 {
      font-family: "Poppins", serif;
      font-size: 4vw;
      font-weight: 600;
      color: #161616;
      margin-bottom: 0;
    }
    .header p {
      color: #161616;
      font-size: 1.2vw;
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 90vw;
      min-height: 60vh;
      background-color: #f1f1f1;
      margin: 0 auto;
      border-radius: 16px;
      gap: 1.5vw;
      padding: 2vw;
      box-sizing: border-box;
    }

    .column {
      flex: 1;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      min-height: 65vh;
    }
    textarea {
      flex: 1; 
      width: 95%;
      min-height: 20vh;
      max-height: 38vh;
      border: none;
      border-radius: 8px;
      font-size: 1vw;
      outline: none;
      resize: none;
      box-sizing: border-box;
      padding: 1vw;
    }

    .input-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
    }

    #char-count {
      width: 30%;
      font-size: 0.8vw;
      color: #161616;
      text-align: left;
      margin-left: 1vw;
    }

    #detect-ai {
      width: 70%;
      height: 5vh;
      padding: 1.2vw;
      background: #007bff;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8vw;
      border: none;
      border-radius: 8px;
      font-size: 1vw;
      font-weight: 500;
      transition: background 0.3s ease, transform 0.2s ease;
      cursor: pointer;
    }

    #detect-ai:hover {
      background: #1787ff;
    }

    #detect-ai svg {
      width: 2vw;
      height: 2vh;
      fill: white;
    }

    .column h2{
        color: #161616;
        font-size: 1.8vw;
        margin: 0;
    }

    .analysis-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2.5vw;
      margin-top: 1vw;
      margin-bottom: 0;
    }

    .analysis-right {
      flex: 1;
      text-align: left;
    }

    .analysis-right p{
        font-size: 1vw;
    }

    .percentage {
      float: right;
    }

    .summary {
      margin-top: 1vw;
    }

    .summary h3{
        font-size: 1.8vw;
    }

    .summary p {
      font-size: 1vw;
      margin: 0.5vw 0 0 0;
    }

    .score-container {
        text-align: center;
        margin: 2vw auto;
      }
      
      .progress-circle {
        width: 10vw;
        height: 10vw; 
        display: block;
        margin: 0 auto;
      }
         